{#{% extends "base.html" %}#}

{% extends 'layouts/base-fullscreen.html' %}

{% load crispy_forms_filters %}

{% block content %}
  <br>
  <br>
  <br>
  <br>
  <div style="margin-left: 40px">
    <h1>
      Dishes list
      <a href="{% url 'restaurant:dish-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

      <form action="" method="get" class="form-inline">
        {{ search_form|crispy }}
        <input type="submit" value="🔍" class="btn btn-secondary">
      </form>


    {% if dish_list %}
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Dish Type</th>
        </tr>
      {% for dish in dish_list %}
        <tr>
          <td><a href="{% url 'restaurant:dish-detail' pk=dish.id %}">{{ dish.id }}</a></td>
          <td>{{ dish.name }}</td>
          <td>{{ dish.dish_type }}</td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>There are no dishes in kitchen</p>
    {% endif %}
  </div>
{% endblock %}
